.MuiCardHeader-content {
  overflow: hidden
}

.MuiCardHeader-root {
  padding-bottom: 0 !important;
}

CardHeader {
  display: flex;
  overflow: hidden;
}

.MuiTypography-root {
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}